body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background: url('./background.jpg');
  background-size: cover;
  color: snow;
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
  user-select: none;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 18px;
  text-align: center;
}

.clock {
  display: flex;
}

.clock div {
  margin: 5px;
  position: relative;
}

.clock span {
  width: 100px;
  height: 80px;
  background-color: #162954;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text {
  height: 30px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #0f1e40;
  opacity: 0.8;
}
