body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  transition: 0.4s;
}

.label {
  position: absolute;
  width: 80px;
  height: 40px;
  background-color: lightgray;
  border-radius: 20px;
  cursor: pointer;
}

.input {
  visibility: hidden;
}

.circle {
  width: 34px;
  background-color: white;
  height: 34px;
  border-radius: 50%;
  top: 3px;
  position: absolute;
  left: 3px;
  transition: 0.4s;
}

.input:checked + .label {
  background-color: white;
}

.input:checked + .label .circle {
  transform: translate(40px);
  transition: 0.4s;
  background-color: black;
}
