body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  font-family: sans-serif;
}

h1 {
  color: slateblue;
  font-size: 32px;
}

.image-container {
  text-align: center;
}

.image-container img {
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px black;
  height: 300px;
  width: 300px;
}

.btn {
  background-color: slateblue;
  border: none;
  padding: 10px 20px;
  margin: 20px;
  color: snow;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}
