body {
  margin: 0;
  font-family: cursive;
  background-color: aliceblue;
  color: lightseagreen;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 10px;
}

.color-container {
  background-color: rebeccapurple;
  width: 300px;
  height: 150px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  font-size: 25px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
