* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  color: #333333;
  background-color: aliceblue;
}

.container {
  border: 2px solid #333333;
  border-radius: 10px;
  padding: 10px 20px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: lightblue;
}

h1 {
  font-size: 26px;
  padding-top: 0;
}

.input-container {
  display: flex;
  flex-direction: column-reverse;
}

.input {
  padding: 8px;
  border: 1px solid #999999;
  border-radius: 5px;
  background-color: #ffffff;
  color: #333333;
  outline: none;
}

.input:focus {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
