body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  text-align: center;
}

.image-container {
  position: relative;
  width: 300px;
  height: 200px;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(0deg);
  transition: 0.7s;
}

.image-container span {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
}

img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: 90px;
}

.btn {
  background-color: aqua;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: filter 0.2s;
}

.btn:hover {
  filter: brightness(1.5);
}
