@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  overflow: hidden;
  background-color: silver;
  font-family: 'Lacquer', system-ui;
}
